.sidebar {
    flex: 1;
    height: calc(100vh - 80px);
    background-color: #0a192f;
    position: sticky;
    top: 50px;
}
.sidebarWrapper {
    padding: 20px;
    color: #788492;
}

.sidebarMenu {
    margin-bottom: 13px;
}


.sidebarTitle {
    font-size: 17px;
    color: #788492;
}

.sidebarList {
    list-style: none;
    padding: 7px;
} 

.sidebarListItem {
    padding: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 5px;
    text-decoration: none;
} 

.sidebarListItem.active, .sidebarListItem:hover {
    background: rgb(228, 228, 250);
}